body {
  margin: 0;
}

/*  --------Main divs for the 6 website parts -----------*/

/*#region*/
.flexbox-container {
  display: flex;
  flex-direction: column;
  height: auto;
}
.header-intro {
  padding-top: 10px;
  background-color: #1f2937;
  height: 25%;
}

.header {
  display: flex;
  height: 25px;
}

.intro-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  gap: 30px;

  padding: 45px;
}

.gallery-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  height: 25%;
}

.inspiring-div {
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 100px;
  height: 25%;
}

.footer {
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #e5e7eb;
  padding: 5px;
}

/*#endregion*/

/*-------------------- Header ---------------------------*/

/*#region*/
.header-secondaryText {
  font-size: 18px;
  color: #e5e7eb;
}

.header-secondaryText a {
  color: #e5e7eb;
}

.header-logo {
  margin-left: 50px;
  border-radius: 30px;
  height: 25px;
}

.navbar-header {
  width: 100%;
  padding-right: 20px;
}

.navbar-header a {
  padding-left: 20px;
  float: right;
  /*  */
}
/*#endregion*/

/*--------------------- Intro ---------------------------*/

/*#region*/
.intro-item {
  height: 50%;
  width: 25%;
  color: #e5e7eb;
  border-radius: 15px;
}

#intro-heading {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}
/*#endregion*/

/*-------------------- Gallery --------------------------*/
/*#region*/
.gallery-items {
  display: flex;
  gap: 100px;
  padding-top: 40px;
}
.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-item img {
  height: 250px;
  width: auto;
  border: #f9faf8 solid;
  border-radius: 15px;
  margin-bottom: 10px;
}
/*#endregion*/

/*------------------ Inspiration ------------------------*/

/*#region*/
#quote {
  padding-top: 20px;
}
#author {
  font-weight: bold;
  font-size: 24px;
  padding-left: 50%;
}
/*#endregion*/

/*-------------------- Sign-up --------------------------*/
/*#region*/
.signup-Wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  height: 100%;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 50px;
}
.signup-text {
  width: 70%;
}
.signup-item {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
}
.signup-btn {
  border: 1px solid;
  border-color: white;
  background-color: #3882f6;
  border-radius: 5px;
  color: #e5e7eb;
  height: 90%;
}
.callToAction {
  font-weight: bold;
  margin-bottom: 3px;
}

/*#endregion*/

.btn {
  background-color: #3882f6;
  border: 1px;
  border-color: #3882f6;
  border-radius: 5px;
  margin-top: 5px;
  color: #e5e7eb;
}
