body {
  display: flex;
  padding-top: 10%;
  justify-content: center;
  align-content: center;
}
button {
  height: 100px;
  width: 100px;
  margin: 20 10 0 0px;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: darkgray solid;
  background-color: lightgray;
}
.display {
  text-align: right;
  font-size: 40px;
  background: darkgrey;
  height: 40px;
  width: 550px;
}
.second-display {
  display: flex;
  text-align: right;
  font-size: 30px;
  background: darkgrey;
  margin: 40 0 0 0;
  height: 30px;
  width: 550px;
}

.hidden-span {
  visibility: hidden;
  height: 30px;
  width: 500px;
}

.input-block {
  display: flex;
  padding: 30 30;
}
.number-container {
  margin-right: 20px;
}

#equal {
  width: 210px;
}
